@import "../node_modules/bootstrap/scss/bootstrap";

a#nav-dropdown.dropdown-toggle.nav-link {
  color: #ffffff;
  text-align: center;
}

div.dropdown-menu.show {
  background-color: #343a40;
  min-width: 100%;
}

.dropdown-item:hover {
  background-color: inherit;
}

.navbar.navbar-expand-lg.navbar-light.bg-dark {
  padding: 0.5rem 9rem 0.5rem 2rem;
}